.footer-section {
  background-color: rgb(220, 219, 219);
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 30px;
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  margin-left: 20px;
  margin-top: 15px;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin-bottom: 10px;
  width: 150px;
}

.link-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
  text-decoration: none;
}

.copyrights {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
