.forget-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 228, 228);
  }
  
  .forget-container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
  }
  
  .forget-heading {
    font-size: 30px;
    color: rgb(20, 179, 180);
  }
  
  .forget-text {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .forget-form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  
  .forget-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .forget-form-container input {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    width: 300px;
    margin-bottom: 20px;
    background-color: rgb(231, 228, 228);
  }
  
  .forget-form-container button {
    color: white;
    background-color: rgb(20, 179, 180);
    padding: 10px 15px;
    border: none;
    font-family: arial;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
  }
  
  .forget-form-container button:hover {
    background-color: rgb(20, 179, 180, 0.8);
  }
  
  .forget-form-container button:active{
      background-color: rgb(20, 179, 180, 0.6);
  }
  